@CHARSET "UTF-8";

@font-face {
	font-family: japan;
	src: url(../FONTS/Japan.tff);
}

@font-face {
	font-family: gothamBold;
	src: url(../FONTS/GothamBold.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(../FONTS/GothamMedium.ttf);
}

.orders {
	clear: both;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #7F7F7F;
	float: right;
	top: 40px;
	position: relative;
	list-style: none outside none;
	margin: 0 0 0 0px;
	padding: 0 !important;
	width: 866px;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	line-height: 20px;
}

.ordersHeaderContainer {
	background-color: none;
	width: 100%;
	border-radius: 5px;
	position: relative;
	top: 15px;
	overflow: hidden;
	/*force outer container to wrap inner containers. */
}

.ordersHeaderLabel {
	font-family: gothamMedium;
	float: left;
	font-size: 28px;
	height: 28px;
	vertical-align: bottom;
}

table {

}

/* Apply Striping to table - alternate rows */
tr:nth-of-type(even) {
	background-color: #F3F3F3;
}

tr:nth-of-type(odd) {
	background-color: #ddd;
}

td {
	border-style: none solid;
	border-width: 1px;
}

/* Text align right all but the first column of the table, including the header row */
td:nth-child(n+2), th:nth-child(n+2) {
	text-align: right;
}

/* Text align the description column (3rd) centered*/
td:nth-child(3), th:nth-child(3) {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

/* increase size of last data in the last line */
tr:last-child td:last-child {
	font-size: 20px;
	text-align: right;
}
/* Bold the last column */
td:last-child {
	font-weight: bolder;
}

/*Bold the last line */
tr:last-child {
	font-weight: bolder;
	border-top: double;
}

tr:nth-last-child(-n+1) td {
	text-align: right;
	color: black;
	border-bottom: solid black 1px;
}

#totalLabel {
	color: red;
	border-color: black;
	border-bottom: solid black 1px;
	font-size: large;
	text-decoration: underline;
}

#updateButton {
	height: 30px;
	background-color: #b2ff66;
	float: left;
}
#updateButtonEnabled {
	height: 30px;
	background-color: red;
}

.spinner {
	width: 20px;
	text-align: right
}

.hiddenTableColumn {
	display: none;
}

.hidden 
 {
	display: none;
}

#nextButton {
	float: right;
	height: 30px;
	background-color: #b2ff66;
}
