@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@font-face {
	font-family: japan;
	src: url(../FONTS/Japan.tff);
}

@font-face {
	font-family: gothamBold;
	src: url(../FONTS/GothamBold.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(../FONTS/GothamMedium.ttf);
}

.ordersummary {
	/* 	border: solid black 1px; */
	width: 940px;
	position: relative;
	top: 50px;
	min-height: 250px;
	clear: both;
	margin: auto;
}

.deliver-to-header {
	font-family: "Permanent Marker";
	float: left;
	font-size: 18px;
	height: 28px;
	color: black;
	text-align: center;
	vertical-align: middle;
}

.order-review-left {
	float: left;
	width: 250px;
	/* 	border: solid black 1px; */
	position: relative;
	top: 0px;
	left: 75px;
}

.delivery-detail-label {
	clear: both;
	font-family: "gothamMedium";
	float: left;
	font-size: 12px;
	height: 18px;
	color: black;
	font-family: "gothamMedium";
}

.detail {
	text-decoration: underline;
	float: right;
}

.comment-detail {
	text-decoration: none;
	float: left;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

.comment {
	float: left;
	width: 93%;
	border: solid 1px;
	border-color: #d9d9d9;
	position: relative;
	top: 0px;
	position: relative;
	left: 75px;
	right: 50px;
}

.order-review-right {
	float: right;
	width: 200px;
	position: relative;
	top: 0px;
	left: 1px;
}

button {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 7px 20px;
	font-size: 24px;
	font-family: "Bitter", serif;
	line-height: 1.2;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
}

button:focus {
	outline: none
}

.pressadjust {
	position: relative;
	top: 15px;
}

.pressadjust button {
	color: #fff;
	background-color: #6496c8;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px #27496d;
}

.pressadjust button:hover {
	background-color: #417cb8
}

.pressadjust button:active {
	background-color: #417cb8;
	box-shadow: 0 1px #27496d;
	transform: translateY(3px);
}

.pressorder {
	position: relative;
	top: 15px;
}

.pressorder button {
	color: #white;
	background-color: #33ff77;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px #004d1a;
}

.pressorder button:hover {
	background-color: #00e64d
}

.pressorder button:active {
	background-color: #00e64d;
	box-shadow: 0 1px #004d1a;
	transform: translateY(3px);
}