@font-face {
    font-family: japan;
    src: url(../FONTS/Japan.tff));
}

@font-face {
    font-family: gothamBold;
    src: url(../FONTS/Gotham.otf));
}

.productbox {
    width: 100%;
    border-style: inset;
    border-color: gray;
    border-width: 1px;
}

.productTitle {
float: left;
}

//Product Image should be the left most item in the product box.
.productImage {
    float: left;
    max-width: 125px;
    width: 200px;
}

.productPrice {
    font-weight: bold;
    white-space: nowrap;
}

.product-Old-Price {
    text-decoration: line-through;
}


.productClear {
    clear: both;
}
.productDetailsContainer {
    float: left;
    width: 70%;
}

.priceContainer {
    float: left;
}

.browseAddToCartContainer {
    text-align: center;
    width: 30%;
}

.browseRatingContainer {
    float: left;
    margin: 3px;
    white-space: nowrap;
    width: 25%;
}