.results {
	clear: both;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #7F7F7F;
	float: left;
	line-height: 20px;
	list-style: none outside none;
	margin: 0 0 0 -25px;
	padding: 0 !important;
	position: absolute !important;
	top: 1px !important;
	width: 100% !important;
	max-width: 680px;
	z-index: 400;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	margin-left: 240px;
}
.results ul li a {
	text-decoration: none;
}
.results ul {
	margin-left: 10px !important;
	padding: 0px;
	margin-right: 8px !important;
}

.results ul li {
	list-style: none;
}

