/* CSS Document */

#multi_display a {
  padding-left: 24px;
  font: inherit;
  border: none;
  color: #333;
}
#multi_display a:hover {
  text-decoration: none;
  border: none;
}
#multi_display .ui-icon {
  margin-left: -10px;
}
#multi_display ul {
  overflow: visible;
  heigh: auto;
  background: none;
  border: none;
  margin: 0;
  paddi
  ng: 0;
}
#multi_display li {
  display: block;
}

