<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
    <link href="resources/css/productbox.css" type="text/css" rel="stylesheet"/>


</head>

<body>
    <!-- ProductBOX-->
    <div class="productbox">
        <div style="display: inline-block; vertical-align: top;">
            <img src="../../resources/images/blueberriesbagels.jpg" />
        </div>
        <div style="display: inline-block;">
            Product Title
        </div>
    </div>

    <div class="productClear"> </div>

    <!-- ProductBOX-->
    <div class="productbox">
        <div class="productImage">
            <img src="../../resources/images/blueberriesbagels.jpg" />
        </div>
        <div class="productTitle">
            Product Title
        </div>
    </div>
    
 <div class="productClear"> </div>
    
    <div style="display: inline-block;">Content1</div>
    <div style="display: inline-block;">Content2</div>

</body>

</html>